<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyh.dao.OrderDao">
    <insert id="save" parameterType="Order" useGeneratedKeys="true" keyProperty="oid">
        insert into order_tb(uid,uname,pid,pname,pprice,num) values(#{uid},#{uname},#{pid},#{pname},#{pprice},#{num});
    </insert>
</mapper>